html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
////////////////////////////////
////////////////////
CSS RESET
////////////////////////////////
/////////////////////////////////////
*/
/* 
/////////////////////////////
//////////////////////////
FONTS START
/////////////////////////
/////////////////////////////
*/
@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: EBGaramond;
  src: url("./assets/fonts/EBGaramond-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: EBGaramond;
  src: url("./assets/fonts/EBGaramond-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: EBGaramond;
  src: url("./assets/fonts/EBGaramond-Medium.ttf");
  font-weight: 500;
}
/* 
/////////////////////////
///////////////////////
FONTS END
/////////////////////
///////////////////////////////
*/
:root {
  --black-main: #261c35;
  --orange-main: #e27d57;
  --font-monts: "Montserrat";
  --fonts-eb: "EBGaramond";
}
body {
}
.container {
  width: 1171px;
  margin: 0 auto;
}
nav {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  font-family: var(--font-monts);
  color: var(--black-main);
}
.header-img {
  margin-right: 175px;
}
.header-nav {
  display: flex;
  flex-direction: row;
  margin-top: 29px;
}
.header-nav li {
  margin-right: 71px;
  cursor: pointer;
}
.header-phone {
  margin-left: 113px;
  margin-top: 30px;
}
.header-phone span {
  cursor: pointer;
}
.intro {
  background-image: url(./assets/img/intro-img.png);
  width: 1171px;
  height: 432px;
  display: flex;
  flex-direction: row;
  font-family: var(--fonts-eb);
  font-weight: 400;
}
.intro-text {
  max-width: 612px;
  margin-left: 54px;
  margin-top: 132px;
  font-size: 21px;
  line-height: 27px;
  color: #fff9f7;
}
.intro-text__highlighted {
  color: var(--orange-main);
}
/* 



*/
.about {
  margin-top: 72px;
  display: flex;
  flex-direction: row;
}
.about-img {
  margin-left: 55px;
}
.about-text{
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  font-family: var(--fonts-eb);
}
.about-text h3{
  color: var(--orange-main);
  
  font-weight: 600;
  font-size: 33px;
  line-height: 43px;
  margin-bottom: 19px;
}
.about-text p{
  font-size: 17px;
  line-height: 22px;
  font-weight: normal;
  color: #000000;
  margin-bottom: 16px;
}
/* 




*/
.services{
  height: 480px;
  margin-top: 77px;
  background-color: var(--orange-main);
  font-family: var(--fonts-eb);
  display: flex;
  flex-direction: column;
}
.services h2{
  margin-top: 74px;
  margin-left: 493px;
  font-weight: 600;
font-size: 33px;
line-height: 43px;
/* identical to box height */


color: #FFF9F7
}