html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  padding: 0;
  border: 0;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: Montserrat;
  src: url('./assets/fonts/Montserrat-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url('./assets/fonts/Montserrat-SemiBold.ttf');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: EBGaramond;
  src: url('./assets/fonts/EBGaramond-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: EBGaramond;
  src: url('./assets/fonts/EBGaramond-SemiBold.ttf');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: EBGaramond;
  src: url('./assets/fonts/EBGaramond-Medium.ttf');
  font-weight: 500;
  font-display: swap;
}

:root {
  --black-main: #261c35;
  --orange-main: #e27d57;
  --font-monts: 'Montserrat';
  --fonts-eb: 'EBGaramond';
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.container {
  width: 1171px;
  margin: 0 auto;
}
a {
  color: var(--black-main);
  transition: all 0.3s ease;
}
a:hover {
  color: var(--orange-main);
}
nav {
  width: inherit;
  display: flex;
  flex-direction: row;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  font-family: var(--font-monts);
  color: var(--black-main);
}

.header-img {
  margin-right: 175px;
  background: url('./assets/img/logo.webp');
  margin-top: -36px;
  background-size: cover;
  width: 169px;
  height: 169px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  margin-top: 29px;
}

.header-nav li {
  margin-right: 71px;
  cursor: pointer;
}

.header-phone {
  margin-left: 113px;
  margin-top: 30px;
}

.header-phone a {
  color: var(--black-main);
}
.hamburger {
  display: none;
  width: 20px;
  height: 12.5px;
  cursor: pointer;
}
.drop-down {
  display: none;
}
.form-clicked {
  margin-top: 79px;
  margin-left: 51px;
  font-size: 23px;
  line-height: 30px;
  max-width: 286px;
  color: #ffffff;
}
/* .bar {
  position: relative;
  display: block;
  width: 20px;
  height: 3px;
  margin-top: 2px;

  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
} */
/* 




*/
.intro {
  background-image: url(./assets/img/intro-img.webp);
  width: 100%;
  height: 432px;
  display: flex;
  flex-direction: row;
  font-family: var(--fonts-eb);
  font-weight: 400;
}

.intro-text {
  max-width: 612px;
  margin-left: 54px;
  margin-top: 132px;
  font-size: 21px;
  line-height: 27px;
  color: #fff9f7;
}

.intro-text__highlighted {
  color: var(--orange-main);
}
.intro-form {
  width: 365px;
  height: 316px;
  margin-top: 58px;
  margin-left: 86px;
  border: 2px solid #fff9f7;
}
.form__group:first-of-type {
  margin-top: 36px;
}
.form__group:last-of-type {
  margin-bottom: 30px;
}
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-bottom: 23px;
  width: 255px;
  margin-left: 55px;
  font-family: var(--font-monts);
  font-style: normal;
  font-weight: normal;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #fff9f7;
  outline: 0;
  font-size: 11px;
  line-height: 13px;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 11px;
  line-height: 13px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}
.form-button {
  width: 167px;
  height: 45px;
  border: 2px solid var(--orange-main);
  background: transparent;
  margin-left: 95px;
  border-radius: 8px;
  font-family: var(--font-monts);
  font-weight: 600;
  font-size: 14px;
  color: #fff9f7;
}
/* 



*/
.about {
  margin-top: 72px;
  display: flex;
  flex-direction: row;
}

.about-img {
  margin-left: 55px;
}

.about-text {
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  font-family: var(--fonts-eb);
}

.about-text h3 {
  color: var(--orange-main);

  font-weight: 600;
  font-size: 33px;
  line-height: 43px;
  margin-bottom: 19px;
}

.about-text p {
  font-size: 17px;
  line-height: 22px;
  font-weight: normal;
  color: #000000;
  margin-bottom: 16px;
}

/* 




*/
.services {
  height: 480px;
  margin-top: 77px;
  background-color: var(--orange-main);
  font-family: var(--fonts-eb);
  display: flex;
  flex-direction: column;
}

.services h2 {
  margin-top: 74px;
  margin-left: 493px;
  font-weight: 600;
  font-size: 33px;
  line-height: 43px;
  /* identical to box height */

  color: #fff9f7;
}

.services-container {
  display: flex;
  margin-left: 158px;
  margin-top: 64px;
}

.services-item {
  width: 170px;
  height: 189px;
  background: #fff9f7;
  box-shadow: 4px 4px 5px 3px rgba(38, 28, 53, 0.15);
  border-radius: 8px;
  margin-right: 58px;
  text-align: center;
}

.services-item img {
  margin-top: 30px;
}
.services-item p {
  max-width: 156px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  margin: 0 auto;
}

/* 



*/
.guarantees {
  margin-top: 71px;
  margin-left: 55px;
  margin-bottom: 96px;
  display: flex;
  font-family: var(--fonts-eb);
  font-style: normal;
}
.guarantees h3 {
  margin-bottom: 46px;
  font-weight: 600;
  font-size: 33px;
  line-height: 43px;
  color: var(--orange-main);
}
.guarantees-info ul {
  font-size: 20px;
  line-height: 26px;
}
.guarantees-info li {
  display: flex;
  margin-bottom: 31px;
  align-items: center;
}
.guarantees-info p {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin-left: 25px;
}
.line {
  height: 380px;
  width: 0px;
  border: 1.3px solid var(--orange-main);
  background-color: var(--orange-main);
  margin-left: 669px;
}

.guarantees-materials h3 {
  margin-bottom: 41px;
}
.materials img {
  margin-right: 35px;
}
/* 



*/
.gallery {
  height: 596px;
  background-color: var(--orange-main);
  display: flex;
  flex-direction: column;
}

.gallery h3 {
  font-family: var(--fonts-eb);
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 43px;

  color: #fff9f7;

  margin: 73px 0 82px 58.05px;
}

.slider-container {
  display: flex;
}

.arrow-previous {
  background-color: transparent;

  width: 29.95px;
  height: 48.5px;

  margin: 128.25px 35.8px 0 67.25px;
}
.arrow-previous img {
  cursor: pointer;
}
.arrow-next {
  background-color: transparent;

  width: 29.95px;
  height: 48.5px;

  margin: 128.25px 68.25px 0 34.8px;
}
.arrow-next img {
  cursor: pointer;
}

.slider-wrapper {
  height: 320px;
  width: 905px;
  overflow: hidden;
}
.my-slider img {
  height: 320px;
}
.gallery-link {
  margin-left: 67.25px;
  margin-top: 19px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  text-decoration: underline;
  color: #fff9f7;
}
/* 


*/
.contacts {
  font-family: var(--fonts-eb);
  display: flex;
}
.contacts-text {
  margin-left: 57px;
  margin-top: 69px;
}
.contacts h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 43px;
  color: var(--orange-main);
  margin-bottom: 23px;
}
.contacts h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 37px;

  color: var(--orange-main);
  margin-bottom: 11px;
  margin-top: 18px;
}
.contacts span {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: var(--black-main);
}
.contacts a {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: var(--black-main);
  margin-top: 11px;
}
.map {
  width: 668px;
  height: 494px;
  margin-left: 126px;
  background: url('./assets/img/map.webp') no-repeat;
  background-size: cover;
}
/* 


*/
footer .container {
  background-color: var(--orange-main);
  height: 204px;
  position: relative;
}
footer .container p {
  position: absolute;
  top: 50px;
  left: 54px;
  max-width: 556px;
  font-family: var(--fonts-eb);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;

  color: #fff9f7;
}
/* 





*/
@media screen and (max-width: 1190px) {
  .container {
    width: 768px;
  }
  nav {
    font-size: 17px;
    line-height: 21px;
  }

  .header-img {
    margin-right: 108px;
  }

  .header-nav {
    display: flex;
    flex-direction: row;
    margin-top: 51px;
  }

  .header-nav li {
    margin-right: 34.9px;
    cursor: pointer;
  }

  .header-phone {
    display: none;
  }
  /* 
  
  
  
  */

  .intro-text {
    max-width: 443px;
    margin-left: 15px;
    margin-top: 141px;
    font-size: 18px;
    line-height: 23px;
  }
  /* 
  
  */
  .about {
    margin-top: 72px;
  }

  .about-img {
    margin-left: 44.69px;
    height: auto;
    width: auto;
    max-width: 126.87px;
    max-height: 173px;
  }

  .about-text {
    margin-left: 59.45px;
    max-width: 525px;
  }

  .about-text h3 {
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 25px;
  }

  .about-text p {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 17px;
  }
  .intro-form {
    width: 274px;
    height: 274px;
    margin-top: 79px;
    margin-left: 21px;
  }
  .form__group:first-of-type {
    margin-top: 45px;
  }
  .form__group:last-of-type {
    margin-bottom: 25px;
  }
  .form__group {
    padding: 15px 0 0;
    margin-bottom: 9px;
    width: 220px;
    margin-left: 27px;
  }

  .form__field {
    width: 100%;
    font-size: 10px;
    line-height: 12px;
    padding: 7px 0;
  }

  .form__field:placeholder-shown ~ .form__label {
    font-size: 10px;
    line-height: 12px;
    top: 20px;
  }

  .form__label {
    font-size: 1rem;
  }

  .form__field:focus {
    padding-bottom: 6px;
    border-width: 3px;
  }
  .form__field:focus ~ .form__label {
    top: 0;
    display: block;
    font-size: 1rem;
  }
  .form-button {
    width: 160px;
    height: 40px;
    margin-left: 54px;
    font-size: 13px;
  }
  .form-clicked {
    margin-top: 80px;
    margin-left: 34px;
    font-size: 18px;
    line-height: 23px;
    max-width: 207px;
  }
  /* 
  
  */
  .services {
    height: 380px;
    margin-top: 84px;
  }

  .services h2 {
    margin-top: 37px;
    margin-left: 311px;
    font-size: 26px;
    line-height: 34px;
  }

  .services-container {
    margin-left: 41px;
    margin-top: 55px;
  }

  .services-item {
    width: 168px;
    height: 189px;
    margin-right: 58px;
  }
  .services-item:last-of-type {
    display: none;
  }

  .services-item img {
    margin-top: 30px;
  }
  /* 
  
  
  */
  .guarantees {
    margin-top: 38px;
    margin-left: 16px;
    margin-bottom: 48.3px;
  }
  .guarantees h3 {
    margin-bottom: 46px;

    font-size: 33px;
    line-height: 43px;
  }

  .guarantees-info li {
    margin-bottom: 47px;
  }
  .guarantees-info p {
    font-size: 18px;
    line-height: 23px;
    margin-left: 63px;
  }
  .line {
    display: none;
  }
  /* 
  
  
  */
  .gallery {
    height: 507px;
  }

  .gallery h3 {
    font-size: 33px;
    line-height: 43px;

    margin: 34px 0 69px 10.5px;
  }

  .arrow-previous {
    width: 29.95px;
    height: 48.5px;

    margin: 128.25px 35.8px 0 67.25px;
    display: none;
  }

  .arrow-next {
    width: 29.95px;
    height: 48.5px;
    display: none;
    margin: 128.25px 68.25px 0 34.8px;
  }

  .slider-wrapper {
    height: 300px;
    width: 905px;
  }
  /* 
  
  
  */
  .contacts-text {
    margin-left: 17px;
    margin-top: 35px;
  }
  .contacts h3 {
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 30px;
  }
  .contacts h5 {
    font-size: 22px;
    line-height: 29px;

    margin-bottom: 19px;
    margin-top: 21px;
  }
  .contacts span {
    font-size: 18px;
    line-height: 23px;
  }
  .contacts a {
    font-size: 18px;
    line-height: 23px;

    margin-top: 19px;
  }
  .map {
    width: 418px;
    height: 395px;
    margin-left: 45px;
  }
}
/* 


*/
@media screen and (max-width: 800px) {
  .container {
    width: 500px;
  }
  .header-nav {
    font-size: 13px;
    line-height: 17px;
  }
  nav {
    justify-content: space-between;
  }

  .header-img {
    margin-right: 0px;
    /* width: 113px;
    height: 125px; */
  }

  /* 
  
  
  */
  .intro {
    width: 500px;
    height: 280px;
  }

  .intro-text {
    max-width: 256px;
    margin-left: 18px;
    margin-top: 27.8px;
    font-size: 14px;
    line-height: 18px;
  }
  .intro-form {
    width: 192px;
    height: 183px;
    margin-top: 40.3px;
    margin-left: 14px;
  }
  .form__group:first-of-type {
    margin-top: 10px;
  }
  .form__group:last-of-type {
    margin-bottom: 25px;
  }
  .form__group {
    padding: 8px 0 0;
    margin-bottom: 4px;
    width: 160px;
    margin-left: 16px;
  }

  .form__field {
    font-size: 8px;
    line-height: 10px;
    padding: 5px 0;
  }

  .form__field:placeholder-shown ~ .form__label {
    font-size: 8px;
    line-height: 10px;
    top: 20px;
  }

  .form__label {
    font-size: 0.6rem;
  }

  .form__field:focus {
    padding-bottom: 6px;
    border-width: 3px;
  }
  .form__field:focus ~ .form__label {
    top: 0;
    display: block;
    font-size: 0.8rem;
  }
  .form-button {
    width: 120px;
    height: 30px;
    margin-left: 36px;
    font-size: 10px;
    line-height: 12px;
  }
  .form-clicked {
    margin-top: 46px;
    margin-left: 12px;
    font-size: 14px;
    line-height: 18px;
    max-width: 169px;
  }
  /* 
  
  
  */
  .about {
    margin-top: 42px;
    display: flex;
    flex-direction: row;
    margin-bottom: 17px;
  }
  .about-img {
    /* display: none; */
    margin-left: 24.69px;
    height: auto;
    width: auto;
    max-width: 126.87px;
    max-height: 173px;
  }
  .about-text {
    margin-left: 16px;
  }

  .about-text h3 {
    max-width: 294px;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 21px;
  }

  .about-text p {
    font-size: 12px;
    line-height: 15px;
    max-width: 294px;
    margin-bottom: 13px;
  }
  /* 
  
  */
  .services {
    height: 259px;
    margin-top: 30px;
  }

  .services h2 {
    margin-top: 15px;
    margin-left: 16px;
    font-size: 18px;
    line-height: 23px;
  }

  .services-container {
    margin-left: 15px;
    margin-top: 22px;
  }

  .services-item {
    width: 130px;
    height: 140px;

    margin-right: 38px;
  }
  .services-item p {
    font-size: 14px;
    line-height: 18px;
  }
  .services-item img {
    margin-top: 22.2px;

    width: 25.81px;
    height: 25px;
  }
  .gallery-link {
    margin-left: 14px;
    margin-top: 15px;
    font-family: var(--fonts-eb);
    font-size: 10px;
    line-height: 13px;
    text-underline-offset: 2px;
  }
  /* 
  
  
  */
  .guarantees {
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 48.3px;
  }
  .guarantees h3 {
    margin-bottom: 34px;

    font-size: 18px;
    line-height: 23px;
  }

  .guarantees-info li {
    margin-bottom: 29px;
  }
  .guarantees-info li img {
    width: 20px;
    height: 20px;
  }
  .guarantees-info p {
    font-size: 14px;
    line-height: 18px;
    margin-left: 22px;
  }
  /* 
   
  
  */
  .gallery {
    height: 373px;
  }

  .gallery h3 {
    font-size: 18px;
    line-height: 23px;

    margin: 19px 0 26px 14px;
  }

  .arrow-previous {
    width: 29.95px;
    height: 48.5px;

    margin: 128.25px 35.8px 0 67.25px;
  }

  .arrow-next {
    width: 29.95px;
    height: 48.5px;

    margin: 128.25px 68.25px 0 34.8px;
  }

  .slider-wrapper {
    height: 250px;
    width: 905px;
  }
  /* 
  
  */

  .contacts-text {
    margin-left: 14px;
    margin-top: 19px;
  }
  .contacts h3 {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 13px;
  }
  .contacts h5 {
    font-size: 16px;
    line-height: 21px;

    margin-bottom: 11px;
    margin-top: 14px;
  }
  .contacts span {
    font-size: 14px;
    line-height: 19px;
  }
  .contacts a {
    font-size: 18px;
    line-height: 24px;

    margin-top: 11px;
  }
  .map {
    width: 304px;
    height: 292px;
    margin-left: 0px;
    background-image: url('./assets/img/map-320px.webp');
  }
  /* 
  
  */
  footer .container {
    height: 67px;
  }
  footer .container p {
    top: 16px;
    left: 15px;
    max-width: 278px;
    font-size: 10px;
    line-height: 12px;
  }
}
/* 



*/
@media screen and (max-width: 500px) {
  .container {
    width: 320px;
  }
  nav {
    justify-content: space-between;
  }
  .header-navbar {
    position: relative;
  }
  .header-phone {
    display: none;
  }
  .header-nav {
    display: none;
  }
  .header-img {
    margin-right: 0px;
    margin-top: -19px;
    background-image: url('./assets/img/logo.webp');
    width: 113px;
    height: 125px;
  }
  .hamburger {
    display: block;
    margin-top: 37.22px;
    margin-right: 20px;
  }
  .drop-down {
    position: absolute;
    background: rgba(255, 249, 247, 0.95);
    width: 75px;
    height: 246px;
    border-radius: 7px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    right: 0;
    top: 76px;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
  }

  /* 
  
  
  */

  .intro {
    background-image: linear-gradient(
        to right,
        rgba(41, 47, 51, 0.7),
        rgba(41, 47, 51, 0.7)
      ),
      url('./assets/img/into-img-320px.webp');

    width: 320px;
    height: 380px;
    flex-direction: column;
  }

  .intro-text {
    max-width: 296px;
    margin-left: 18px;
    margin-top: 27.8px;
    font-size: 12px;
    line-height: 16px;
  }
  .intro-form {
    width: 192px;
    height: 183px;
    margin-top: 40.3px;
    margin-left: 64px;
  }

  /* 
  
  
  */
  .about {
    margin-top: 17px;
    display: flex;
    flex-direction: row;
  }
  .about-img {
    display: none;
  }
  .about-text {
    margin-left: 16px;
  }

  .about-text h3 {
    max-width: 294px;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 21px;
  }

  .about-text p {
    font-size: 10px;
    line-height: 13px;
    max-width: 294px;
    margin-bottom: 13px;
  }
  /* 
  
  */
  .services {
    height: 259px;
    margin-top: 30px;
  }

  .services h2 {
    margin-top: 15px;
    margin-left: 16px;
    font-size: 18px;
    line-height: 23px;
  }

  .services-container {
    margin-left: 15px;
    margin-top: 22px;
  }

  .services-item {
    width: 130px;
    height: 140px;

    margin-right: 38px;
  }
  .services-item p {
    font-size: 14px;
    line-height: 18px;
  }
  .services-item:nth-last-of-type(2) {
    display: none;
  }

  /* 
   
  
  */
  .gallery h3 {
    font-size: 18px;
    line-height: 23px;
  }

  /* 
  
  */
  .contacts {
    flex-direction: column;
  }
  .contacts h3 {
    font-size: 18px;
    line-height: 23px;
  }
  .contacts h5 {
    font-size: 18px;
    line-height: 23px;
  }
  .contacts span {
    font-size: 16px;
    line-height: 21px;
  }
  .contacts a {
    font-size: 20px;
    line-height: 26px;
  }
  .map {
    margin-top: 29px;
    width: 320px;
    height: 292px;
  }

  /* 
  
  */

  footer .container p {
    max-width: 258px;
    font-size: 8px;
    line-height: 10px;
  }
}
